{% extends '@CMS/admin.html.twig' %}

{% block page_header 'Dashboard'|trans %}
{% block page_description 'Control panel'|trans %}
{% block content_header_wrapper '' %}

{% block content_body %}
    <h1>Добро пожаловать в Monolith CMS!</h1>
{% endblock content_body %}
