// Переменные
$color-icon:        #222d32;
$color-icon-hover:  #2d586c;

.structure-container {
  position: relative;
  min-height: 80vh;
}
.loader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: transparent;
}
.loader-active {
  z-index: 100;
  background: rgba(0, 0, 0, 0.15);
}
.spinner {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
}

#structure>ul>li>a>i.jstree-checkbox {
  display: none;
}

// для того чтобы работала position: sticky у .control-panle
.wrapper {
  overflow-x: unset !important;
  overflow-y: unset !important;;
}

.control-panel {
  margin-bottom: 15px;
  padding: 10px;
  position: sticky;
  top: 10px;
  z-index: 99;
  background: #d2d6de;
  border-radius: 5px;

  a {
    text-decoration: none;
    cursor: pointer;
    color: $color-icon;
    margin-right: 5px;
    &:hover {
      color: $color-icon-hover;
    }
  }
}

.featherlight-iframe .featherlight-content {
  width: 80%;
  height: 80vh;
}
.featherlight {
  z-index: 5000 !important;
  background: rgba(0, 0, 0, 0.8) !important;
}
