    {#<div class="control-panel" style="border-radius: 3px;">#}
        {#<a id="multiple-control" class="fa fa-2x fa-square-o" href="" title="Множественное изменение объектов структуры"></a>#}
        {#<a id="expand" class="fa fa-2x fa-expand" href="" title="Развернуть дерево"></a>#}
        {#<a href="#" id="dnd-true" style="color: white" class="btn btn-primary">Включить drag'n'drop</a>#}
        {#<a href="#" id="create-folder" style="color: white" class="btn btn-primary">Создать раздел</a>#}
        {#<a href="#" id="plug-module" style="color: white" class="btn btn-primary">Подключить модуль</a>#}
    {#</div>#}
    <div class="structure-container" style="overflow-x: auto">
        <div class="loader">
            <i class="fa fa-spin fa-refresh spinner"></i>
        </div>
        <div id="structure">
        </div>
    </div>